/*******************************************************************************
 * Article Body
 ******************************************************************************/
.article-body {
  opacity: 0;
  transition: opacity 0.1s linear;
  animation: fadeIn 0.4s cubic-bezier(0, 0.5, 0.6, 1) 0.8s forwards;

  .play-out & {
    opacity: 0;
  }
}

.article-body .contain-small {
  img {
    max-width: none;
    width: 100%;
    height: auto;
  }

  a {
    display: inline;
  }

  > {
    p,
    ul,
    ol,
    pre,
    h4,
    code {
      margin-left: 28%;

      @media screen and (max-width: 425px) {
        margin-left: 0;
      }
    }

    p:first-of-type {
      font-size: 1.875rem;
      font-weight: 500;
      line-height: 1.4;

      pre,
      code {
        font-size: 1.3rem;
      }

      @media screen and (max-width: 860px) {
        font-size: 1.5rem;

        pre,
        code {
          font-size: 1.1rem;
        }
      }
    }
  }
}
