/*******************************************************************************
 * Article
 ******************************************************************************/
.article {
  > p:first-of-type {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.2;
  }
}
