/*******************************************************************************
 * Preformatted areas.
 *
 * Usually display code snippets
 ******************************************************************************/
pre {
  background: #22282D;
  padding: 1rem;
  border-radius: 0 5px 5px 0;
  color: #696969;
  font-size: 0.75rem;
  line-height: 1.4;

  .kd,
  .p,
  .s1,
  .mi,
  .nt {
    color: $cta;
  }

  .nx,
  .o,
  .s {
    color: #a7a7a7;
  }

  .k,
  .nb,
  .na {
    color: #31ECFF;
  }
}

.linenodiv pre {
  color: #a7a7a7;
  background: #1D2123;
  border-radius: 5px 0 0 5px;
}

@media screen and (max-width: 520px) {
  .highlighttable {
    width: 100%;
    display: block;
    overflow-x: scroll;
    border-radius: 5px;
  }
}
