/*******************************************************************************
 * Hero Navigation
 ******************************************************************************/
.hero-navigation {
  a {
    color: $dirty-mint;
    font-family: $title-stack;
    font-weight: 700;
    text-decoration: none;
    padding: 2rem 0;
  }
}
