/*******************************************************************************
 * Image Listing
 ******************************************************************************/
.image-listing {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1.9em 0;

  li {
    width: 33.333%;
  }

  a {
    padding: 0;
  }
}
