/*******************************************************************************
 * Container
 *
 * Used for wrapping content in margins and aligning center
 ******************************************************************************/
.contain {
  width: 100%;
  max-width: 82rem; // 1280px
  margin: 0 auto;
  padding: 0 1rem;
}

/*******************************************************************************
 * Flex Grid
 *
 * Should be used as the parent element of any group of grid proportions
 ******************************************************************************/
.flex-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;

  > * {
    padding-left: 2rem;
  }
}

/*******************************************************************************
 * Grid fill
 *
 * Will fill remaining space on grid-row
 ******************************************************************************/
.grid-fill {
  flex: 1 auto;
}

/*******************************************************************************
 * One Whole
 ******************************************************************************/
.one-whole {
  width: 100%;
}

/*******************************************************************************
 * Thirds
 ******************************************************************************/
.one-third {
  width: 33%;
}

.two-thirds {
  width: 66%;
}

/*******************************************************************************
 * Thirds Responsive
 ******************************************************************************/
@media screen and (max-width: 810px) {
  .one-third {
    width: 50%;
    flex: 1 auto;
  }

  .two-thirds {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .one-third {
    width: 100%;
  }
}

/*******************************************************************************
 * Half
 ******************************************************************************/
.one-half {
  width: 50%;
}

/*******************************************************************************
 * Half Responsive
 ******************************************************************************/
@media screen and (max-width: 810px) {
  .one-half {
    width: 75%;
  }
}

@media screen and (max-width: 620px) {
  .one-half {
    width: 100%;
  }
}
