/*******************************************************************************
 * Font stacks
 ******************************************************************************/
$normal-stack: "ars-maquette-web", Helvetica, Arial, Sans-serif;
$mono-stack: Monaco, monospace;

/*******************************************************************************
 * Default font sizing
 *
 * Scales on viewport width. Is bumped up with media queries when type gets too
 * small on smaller viewports.
 ******************************************************************************/
html {
  font: 1.5vw/1.4 $normal-stack;
}

@media screen and (max-width: 810px) {
  html {
    font-size: 2vw;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 1rem;
  }
}

/*******************************************************************************
 * Default colours
 ******************************************************************************/
body {
  color: $black;
  background: $bg;
}

/*******************************************************************************
 * Heading Styles
 ******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lowercase;
  line-height: 1;
}

h1 {
  font-size: 11.5vw;
  letter-spacing: -0.6vw;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3,
h4,
h5,
h6 {
  font-weight: 100;
}

/*******************************************************************************
 * Link styles
 ******************************************************************************/
a {
  font-weight: 500;
  color: $cta;
  display: inline-block;
  padding: 0.125rem 0;

  &:hover {
    text-decoration: none;
  }
}

/*******************************************************************************
 * Content styles
 ******************************************************************************/
p,
ul,
ol {
  margin: 1.3rem 0;
  padding: 0;
  list-style-position: outside;

  &:first-child {
    margin-top: 0;
  }
}

pre {
  font-family: $mono-stack;
}
