{% extends 'master.html' %}

{% block title %}{{article.title}}{% endblock %}
{% block og_url %}{{article.url}}{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_title %}{{article.title}}{% endblock %}
{% block og_description %}{{article.summary}}{% endblock %}
{% block og_image %}{{article.featured_image}}{% endblock %}

{% block body %}
    {% if article.bespoke %}
        {{article.content}}
    {% else %}

        <section class="articles-section article-page contain-small">
            <h2>Articles <a href="{{SITEURL}}">Home</a></h2>
        </section>

        <article class="article">
            <header class="header-area">
                <div class="contain-small">
                    <h1 class="header-title">{{article.title}}</h1>
                </div>
            </header>

            <section class="article-body" role="main">
                <div class="contain-small">
                    {{article.content}}
                </div>
            </section>

            <section class="twitter-cta contain-small">
                <h2><a href="{{SOCIAL.twitter}}" target="_blank">I'm on twitter</a></h2>
            </section>

        </article>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    {% if not article.bespoke %}
        <script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/article-index.js" async></script>
    {% endif %}
{% endblock %}
