{% extends 'master.html' %}

{% block ascii %}
<!--
................................................
................................................
................................................
................................................
.%%..%%...%%%%...%%..%%..........%%%%%%...%%%%...%%..%%..%%..%%..%%%%%..
..%%%%...%%..%%..%%..%%..........%%......%%..%%..%%..%%..%%%.%%..%%..%%.
...%%....%%..%%..%%..%%..........%%%%....%%..%%..%%..%%..%%.%%%..%%..%%.
...%%....%%..%%..%%..%%..........%%......%%..%%..%%..%%..%%..%%..%%..%%.
...%%.....%%%%....%%%%...........%%.......%%%%....%%%%...%%..%%..%%%%%..
........................................................................
.%%%%%%..%%..%%..%%%%%%.
...%%....%%..%%..%%.....
...%%....%%%%%%..%%%%...
...%%....%%..%%..%%.....
...%%....%%..%%..%%%%%%.
........................
..%%%%...%%%%%%...%%%%...%%%%%...%%%%%%..%%%%%%.
.%%......%%......%%..%%..%%..%%..%%........%%...
..%%%%...%%%%....%%......%%%%%...%%%%......%%...
.....%%..%%......%%..%%..%%..%%..%%........%%...
..%%%%...%%%%%%...%%%%...%%..%%..%%%%%%....%%...
................................................
................................................
................................................
................................................
.%%..%%...%%%%...%%..%%..........%%...%%..%%%%%%..%%..%%.
..%%%%...%%..%%..%%..%%..........%%...%%....%%....%%%.%%.
...%%....%%..%%..%%..%%..........%%.%.%%....%%....%%.%%%.
...%%....%%..%%..%%..%%..........%%%%%%%....%%....%%..%%.
...%%.....%%%%....%%%%............%%.%%...%%%%%%..%%..%%.
.........................................................
...%%.....%%%%....%%%%..
..%%%....%%..%%..%%..%%.
...%%....%%%%%%..%%%%%%.
...%%....%%..%%..%%..%%.
.%%%%%%...%%%%....%%%%..
........................
.%%%%%%..%%..%%..%%%%%%..%%%%%%..%%%%%...%%..%%..%%%%%%..%%%%%%...%%%%..
...%%....%%%.%%....%%....%%......%%..%%..%%%.%%..%%........%%....%%.....
...%%....%%.%%%....%%....%%%%....%%%%%...%%.%%%..%%%%......%%.....%%%%..
...%%....%%..%%....%%....%%......%%..%%..%%..%%..%%........%%........%%.
.%%%%%%..%%..%%....%%....%%%%%%..%%..%%..%%..%%..%%%%%%....%%.....%%%%..
........................................................................
................................................
................................................
................................................
-->
{% endblock %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
    {% if article.bespoke %}
        {{article.content}}
    {% else %}
        <article class="article flex-grid container">
            <header class="header-area one-whole">
                {% if article.featured_image %}
                    <img src="{{article.featured_image}}" alt="" >
                {% endif %}
                <h1 class="title">{{article.title}}</h1>
            </header>

            <div class="one-half">
                {{article.content}}
            </div>

        </article>
    {% endif %}
{% endblock %}
