{% extends 'master.html' %}

{% block ascii %}
<!--
................................................
................................................
................................................
................................................
.%%..%%...%%%%...%%..%%..........%%%%%%...%%%%...%%..%%..%%..%%..%%%%%..
..%%%%...%%..%%..%%..%%..........%%......%%..%%..%%..%%..%%%.%%..%%..%%.
...%%....%%..%%..%%..%%..........%%%%....%%..%%..%%..%%..%%.%%%..%%..%%.
...%%....%%..%%..%%..%%..........%%......%%..%%..%%..%%..%%..%%..%%..%%.
...%%.....%%%%....%%%%...........%%.......%%%%....%%%%...%%..%%..%%%%%..
........................................................................
.%%%%%%..%%..%%..%%%%%%.
...%%....%%..%%..%%.....
...%%....%%%%%%..%%%%...
...%%....%%..%%..%%.....
...%%....%%..%%..%%%%%%.
........................
..%%%%...%%%%%%...%%%%...%%%%%...%%%%%%..%%%%%%.
.%%......%%......%%..%%..%%..%%..%%........%%...
..%%%%...%%%%....%%......%%%%%...%%%%......%%...
.....%%..%%......%%..%%..%%..%%..%%........%%...
..%%%%...%%%%%%...%%%%...%%..%%..%%%%%%....%%...
................................................
................................................
................................................
................................................
.%%..%%...%%%%...%%..%%..........%%...%%..%%%%%%..%%..%%.
..%%%%...%%..%%..%%..%%..........%%...%%....%%....%%%.%%.
...%%....%%..%%..%%..%%..........%%.%.%%....%%....%%.%%%.
...%%....%%..%%..%%..%%..........%%%%%%%....%%....%%..%%.
...%%.....%%%%....%%%%............%%.%%...%%%%%%..%%..%%.
.........................................................
...%%.....%%%%....%%%%..
..%%%....%%..%%..%%..%%.
...%%....%%%%%%..%%%%%%.
...%%....%%..%%..%%..%%.
.%%%%%%...%%%%....%%%%..
........................
.%%%%%%..%%..%%..%%%%%%..%%%%%%..%%%%%...%%..%%..%%%%%%..%%%%%%...%%%%..
...%%....%%%.%%....%%....%%......%%..%%..%%%.%%..%%........%%....%%.....
...%%....%%.%%%....%%....%%%%....%%%%%...%%.%%%..%%%%......%%.....%%%%..
...%%....%%..%%....%%....%%......%%..%%..%%..%%..%%........%%........%%.
.%%%%%%..%%..%%....%%....%%%%%%..%%..%%..%%..%%..%%%%%%....%%.....%%%%..
........................................................................
................................................
................................................
................................................
-->
{% endblock %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
<article class="article">

    <header class="header-area">
        {% if article.featured_image %}
            <img src="{{article.featured_image}}" alt="" >
        {% endif %}

        <h1 class="title">{{article.title}}</h1>
    </header>

    {{article.content}}

{% endblock %}
